[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
default_character_set = utf8mb4

[mysqld]
port = 3306
bind-address = 0.0.0.0
socket = /tmp/mysql.sock
#datadir = /var/www/mysql/data
#tmpdir = /tmp
character_set_server = utf8mb4
lower_case_table_names = 1
default_storage_engine = InnoDB


#core_file
#read_only

sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY

## network
max_allowed_packet = 256M
max_connections = 1000
max_connect_errors = 10000
wait_timeout = 60
slave_net_timeout = 60

## cache size
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 0
query_cache_size = 0
max_heap_table_size = 64M
tmp_table_size = 64M

## log
log_error = mysql-error.log
#general_log = 1
#general_log_file = mysql.log



## slow query log
slow_query_log
slow_query_log_file = mysql-slow.log
log_slow_admin_statements
log_slow_slave_statements
long_query_time = 0.1

## 数据存储空间是 boot2docker 机和 Windows 7 共享的，不支持异步 I/O
innodb_use_native_aio = 0